.container{
          background-image: url(../../assets/back.jpg);
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          background-attachment: fixed;
          height: 100vh;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;
          }

          .form{
                    box-sizing: border-box;
                    background-color: rgba(240, 240, 240, 0.6);
                    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
                    border:none;
                    border-radius: 8px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding: 12px;
                }
                .error{
                    color: red;
                }